@import 'reset';
@import url("https://use.typekit.net/tqs7xtc.css");

//---------------------1
*::selection {
  background-color: #AEE6F2;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  font-family: Serenity, sans-serif;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-weight: 300;
  margin-bottom: 3.125em; /*50/16*/
  line-height: 1.75em; /*28/16*/
  max-width: 28.125em; /*450/16*/
}

img {
  width: 100%;
  height: 100%;
}

// -------------------------2

main section {
  margin-bottom: 15.625em; /*250/16*/
}

//-------------------------10

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.header__nav {
  background-color: #AEE6F2;
  margin-bottom: 5.533333333333333em; /*85/15*/
  display: flex;
  align-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav__locale {
  text-transform: uppercase;
  color: #01595A;
  text-decoration: none;
  font-size: 0.9375em; /*15/16*/
}

.nav__locale--current {
  font-weight: 600;
}

.nav__liste {
  padding: 1em 4em; /*60/15*/
  flex: 1;
  display: flex;
  justify-content: end;

}

.nav__logo {
  display: none;
}

.nav__position {
  display: flex;
  flex: 1;
}

.nav__checkbox {
  display: none;
}

.intro {
  display: flex;
  margin-top: 12em;
}

.intro__position {
  align-self: center;
  margin-right: 5em; /*80/16*/
}

.intro__figure {
  position: relative;
  box-shadow: inset -6.25em 0.625em #D5D96A; /*100/16 10/16*/
  display: inline-block;
  border-radius: 50%;
  outline: solid 1px #A0BF35;
  outline-offset: 1.5625em;
  transition: all 0.3s ease-in-out;
}

.intro__thumb {
  border-radius: 50%;
  position: relative;
  left: -6%;

}

.intro__title {
  color: #01595A;
  font-size: 2.1875em; /*35/16*/
  font-weight: 900;
  max-width: 15.71428571428571em; /*550/35*/
  line-height: 1.142857142857143em; /*40/35*/
  margin-bottom: 2.228571428571429em; /*80/35*/
  text-transform: uppercase;
}

.project {
  position: relative;
  display: inline-flex;
}

.projects__list {
  display: grid;
  grid-template-rows: repeat(3, 37.5em); /*600/16*/
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10.625em; /*170/16*/
}

.project__image {
  order: -1;
  position: relative;
  min-width: 300px;
}

.project__excerpt {
  font-weight: 300;
  text-align: center;
  max-width: 21.875em; /*350/16*/
}

.project__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleModule {
  position: relative;
}

.singleModule__nav {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
}

.singleModule__intro {
  margin-top: 6.25em; /*100/16*/
  display: flex;
  align-items: center;
  margin-bottom: 9.6875em; /*155/16*/
  flex: 1;
  position: relative;
}

.singleModule__fig {
  margin-top: 6.25em; /*100/16*/
  border-radius: 50%;
  padding: 1.5625em; /*25/16*/
  display: inline-block;
  box-shadow: inset -25em 0.3125em #D5D96A; /*400/16 5/16*/
  transition: all 0.3s ease-in-out;
}

.singleModule__picture {
  display: flex;
  gap: 3.75em;
}

.singleModule__galerie {
  //display: flex;
  max-height: 438px;
  border-radius: 1.5625em; /*25/16*/
  border: 1px solid #A0BF35;
  //margin-right: 3.75em; /*60/16*/
}

.singleModule__figure {
  position: relative;
  top: -5%;
  right: 5%;
  transition: all 0.3s ease-in-out;
}

.singleModule__content {
  flex: 1;
  margin-top: 6.25em; /*100/16*/
}

.singleModule__logo {
  outline: 1px solid #A0BF35;
  background-color: #FFFFFF;
  outline-offset: 1.25em; /*20/16*/
  border-radius: 50%;
  padding: 0.3125em; /*5/16*/
  position: relative;
  left: -15%;
  transition: all 0.3s ease-in-out;
}

.singleModule__questions {
  display: flex;
}

.singleModule__why {
  border-right: 2px solid #A0BF35;
  margin-bottom: 9.6875em; /*155/16*/
  padding-right: 6.25em; /*100/16*/
}

.singleModule__links {
  position: absolute;
  right: 0;
  top: 0;
  color: #5ABFBF;
  text-transform: uppercase;
  font-size: 0.9375em; /*15/16*/
  text-decoration: none;
  font-weight: 600;
  margin-top: 2.6666666666666667em; /*10/15*/
}

.singleModule__who {
  margin-left: 6.25em; /*100/16*/
  margin-bottom: 9.6875em; /*155/16*/
}

.who__text {
  align-self: center;

}

.help__figure {
  position: relative;
  display: inline-block;
  outline: solid 0.125em #A0BF35; /*2/16*/
  outline-offset: 1.25em; /*20/16*/
  right: 0;
  top: 0;
  border-radius: 100%;
  margin: 0;
  order: -1;
  flex: 1;
  grid-row: 1/-1;
  grid-column: 1;
  align-self: end;
  justify-self: end;
  transition: all 0.3s ease-in-out;

}

.article__list {
  margin-top: 5.625em; /*90/16*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 6.25em 3.125em; /*100/16 50/16*/
}

.video__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6.25em 3.125em; /*100/16 50/16*/
}

.about__title {
  font-size: 1.875em; /*30/16*/
  text-transform: uppercase;
  color: #01595A;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 5.333333333333333em; /*160/30*/
}

.history__svg {
  position: absolute;
  right: 48%;
  height: 100%;
  width: 50px;
}

.history__line {
  stroke: #A0BF35;
  stroke-width: 1px;
}

.actor__figure {
  margin-left: 1.25em; /*20/16*/
}

.actor__text {
  align-self: center;
}

.layout__help {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5em; /*80/16*/
}

.help__content {
  grid-row: 1/4;
  grid-column: 2;
  align-content: center;
  justify-content: center;
}

.contact__position {
  display: flex;
}

.contact__forms {
  order: -1;
  flex: 60%;
}

.contact__content {
  display: flex;
  flex-direction: column;
  flex: 40%;
  margin-left: 8.125em; /*130/16*/
}

.contact__image {
  border-radius: 50%;
  position: relative;
  right: -4%;
}

.contact__figure {
  outline: 1px solid #A0BF35;
  outline-offset: 1.25em; /*20/16*/
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.information__position {
  display: flex;
}

.information__who {
  font-size: 1.125em; /*18/16*/
  font-weight: 600;
  line-height: 1.666666666666667em;
}

.information__article {
  max-height: 12.5em; /*200/16*/
  margin-bottom: 0.625em; /*10/16*/
  margin-right: 1.25em; /*20/16*/
}

.confident {
  margin-left: 6.25em; /*100/16*/
  margin-bottom: 9.6875em; /*155/16*/
  flex: 1;
  max-height: 25em; /*400/16*/
}

.module__fig {
  order: -1;
}

.why {
  display: flex;
  justify-content: center;
  margin-bottom: 9.375em; /*150/16*/
}

.why__position {
  align-self: center;
}

.why__wysiwyg {
  margin-right: 6.25em; /*100/16*/
}

.why__thumb {
  border-radius: 50%;
  position: relative;
  left: -6%;
  bottom: -4%;
  box-shadow: 1.25em 0 0 1.25em #D5D96A; /*20/16*/
  transition: all 0.3s ease-in-out;
}

.why__figure {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  outline-offset: 1.875em; /*30/16*/
  outline: solid 1px #A0BF35;
  transition: all 0.3s ease-in-out;
}

.history__list {
  display: grid;
  grid-gap: 0 9.375em; /*150/16*/
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 5em; /*80/16*/
}

.history__excerpt {
  font-size: 1.125em; /*18/16*/
  max-width: 16.11111111111111em; /*290/18*/
  text-align: center;
}

.history__head {
  font-size: 1.125em; /*18/16*/
  margin-top: 0.36em; /*50/16*/
}

.history {
  position: relative;
}

.history__cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E2ECC2;
  max-width: 33.125em; /*530/16*/
  min-height: 12.5em; /*200/16*/
  border-radius: 1.5625em; /*25/16*/
  top: -3%;
  left: -3%;
  transition: all 0.3s ease-in-out;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875em; /*30/16*/
  flex: 1;
}

.form__label {
  font-size: 1.125em; /*18/16*/
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.2777777777777778em; /*5/18*/
}

.form__button {
  color: #FFFFFF;
  font-size: 0.9375em; /*15/16*/
  letter-spacing: 0.1333333333333333em; /*2/15*/
  text-transform: uppercase;
  background-color: #5ABFBF;
  text-decoration: none;
  padding: 1.333333333333333em 2.666666666666667em; /*20/15 40/15*/
  border-radius: 0 2.666666666666667em 0 2.666666666666667em; /*40/15*/
  border: none;
  margin-bottom: 0;
}

.form__checklabel {
  font-size: 1.125em; /*18/16*/
}

.form__actions {
  display: inline-block;
}

.form__error {
  color: #CC6666;
  margin: 0;
}

.general__error {
  margin-bottom: 1em;
}

.article__history {
  border: 1px solid #A0BF35;
  border-radius: 1.5625em; /*25/16*/
}

.error404__title {
  color: #01595A;
  font-size: 2.1875em; /*35/16*/
  font-weight: 900;
  max-width: 15.71428571428571em; /*550/35*/
  line-height: 1.142857142857143em; /*40/35*/
  text-transform: uppercase;
  margin-top: 8em;
  align-self: center;

}

.error404__position {
  display: flex;
  flex-direction: column;
}

.error404__subtitle {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.error404__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.error404__content {
  font-size: 1.2em;
}

.error404__link {
  color: #5ABFBF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-top: 0.6666666666666667em; /*10/15*/
}

.footer {
  font-size: 0.9375em; /*15/16*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 8em; /*120/15*/
  background-color: #AEE6F2;
  color: #01595A;
  padding: 3.333333333333333em 16.66666666666667em; /*50/15 250/15*/


}

.footer__placeholder {
  font-size: 1.133333333333333em; /*17/15*/
  font-weight: 600;
  margin-right: 1.470588235294118em; /*25/17*/
  margin-bottom: 0;
}

.footer__body {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  flex: 1;
}

.footer__item {
  position: relative;
  max-width: 2.333333333333333em;
  max-height: 2.333333333333333em;
  margin-right: 1em;
}

.footer__legale {
  text-decoration: none;
  color: #01595A;
  font-weight: 600;
}

//-------------------------11
.nav__item a {
  color: #01595A;
  text-decoration: none;
  padding: 0.2em;
  font-size: 0.9375em; /*15/16*/
  transition: all 0.3s ease-in-out;
}

.mail a {
  text-decoration: none;
  color: #5ABFBF;
}

.singleModule__nav a {
  color: #5ABFBF;
  text-transform: uppercase;
  font-size: 0.9375em; /*15/16*/
  text-decoration: none;
  font-weight: 600;
  margin-top: 0.6666666666666667em; /*10/15*/
}

.help__figure img {
  border-radius: 100%;
  position: relative;
  left: 2%;
}

.article__position img {
  border-radius: 50%;
  text-align: center;
}

h2.singleModule__title {
  font-size: 1.875em; /*30/16*/
  margin-bottom: 1.333333333333333em; /*40/30*/
  text-transform: uppercase;
  color: #01595A;
  font-weight: 700;
}

.singleModule__figure img {
  max-width: 20.625em; /*330/16*/
  border-radius: 1.5625em; /*25/16*/

}

h4.who__title {
  font-size: 1.125em; /*18/16*/
  font-weight: 500;
  margin-bottom: 0.6666666666666667em; /*12/18*/
}

h3.information__title {
  font-size: 1.5625em; /*25/16*/
  margin-top: 4.8em; /*120/25*/
  font-weight: 600;
  margin-bottom: 1em; /*24/25*/
  max-width: 12em; /*300/25*/
  text-transform: uppercase;
  line-height: 1.2em; /*30/25*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h4.information__title {
  font-size: 1.25em; /*20/16*/
  font-weight: 600;
  margin-bottom: 0.5em;
  max-width: 15em; /*300/20*/
  text-transform: uppercase;
  line-height: 1.5em; /*30/20*/
}

.coordinates h4 {
  font-size: 1.25em; /*20/16*/
  font-weight: 600;
  max-width: 15em; /*300/20*/
  text-transform: uppercase;
  line-height: 1.5em; /*30/20*/
}

.information__article p {
  margin-bottom: 0.3125em; /*5/16*/
  line-height: 1em;
}

textarea.form__input {
  transition: all 0.3s ease-in-out;
  font-family: Serenity, sans-serif;
  font-size: 0.9375em; /*15/16*/
  padding-top: 1.333333333333333em; /*20/15*/
  font-weight: 300;
}

.form__checklabel a {
  color: #5ABFBF;
  text-decoration: none;
}

.required:after {
  content: '*';
}

.why__wysiwyg p {
  max-width: 31.25em; /*500/16*/
}

//-------------------------20
.legales__section, .conditions__section {
  border-right: 2px solid #A0BF35;
  margin-bottom: 9.6875em; /*155/16*/
  flex: 1;
  max-height: 25em; /*400/16*/
}

.legales, .conditions {
  margin-bottom: 0;
}

.legales__position, .conditions__position {
  display: flex;
  flex-direction: column;
}

.legales__content, .conditions__content {
  display: flex;
  min-width: 1000px;
}

.nav__item .languages {
  position: relative;
}

.nav__item:first-child {
  background-image: url("../../img/ecosph_air-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 4.666666666666667em; /*70/15*/
  min-width: 4.666666666666667em;
  padding: 0;
  justify-self: start;
  transition: all 0.3s ease-in-out;
}

.intro__figure:hover {
  position: relative;
  border-radius: 50%;
  box-shadow: inset 0 0 #D5D96A; /*100/16 10/16*/
  outline-offset: 3em;
  transition: all 0.3s ease-in-out;
}

.help__figure:hover {
  outline-offset: 1.75em; /*20/16*/
  transition: all 0.3s ease-in-out;

}

.nav__languages + .nav__languages {
  border-left: 1px solid #01595A;
  padding-left: 0.2em;
}

.nav__item:nth-of-type(2) {
  flex: 1;
  justify-content: end;
  margin-right: 2.2em;
}

.nav__item, .languages {
  min-width: 5.333333333333333em;
  text-align: end;
  padding: 0.4em; /*6/15*/
  justify-self: end;
  align-self: center;
  display: flex;

}

.nav__languages:first-child {
  margin-right: 0.2em;
}

.videos, .articles {
  margin-left: 3.125em; /*50/16*/
  margin-bottom: 11.25em; /*180/16*/
}

.article__thumb, .video__thumb {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.js-enabled .slide-in {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.contact__figure:hover {
  outline-offset: 2em; /*20/16*/
  transition: all 0.3s ease-in-out;
}

.article__fig, .video__fig {
  margin: 3.125em 0 2em 0; /*50/16  32/16*/
  order: -1;
}

.module, .article {
  display: flex;
}

.singleModule__figure:hover {
  position: relative;
  top: 0%;
  right: 0%;
}

.singleModule__fig:hover{
 box-shadow:  inset 0 0 #d5d96a;
  transform: scale(1.1);
}
.contact__circle, .help__circle {
  border-radius: 50%;
  background-color: #E2ECC2;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.contact__circle:nth-of-type(1) {
  width: 4.375em; /*70/16*/
  height: 4.375em; /*70/16*/
  left: 0;
}

.contact__circle:nth-of-type(2) {
  width: 8.75em; /*140/16*/
  height: 8.75em; /*140/16*/
  bottom: -12%;
}

.contact__circle:nth-of-type(3) {
  width: 6.5625em; /*105/16*/
  height: 6.5625em; /*105/16*/
  right: -20%;
  bottom: 50%;
}

.help__circle:nth-of-type(1) {
  width: 6.5625em; /*105/16*/
  height: 6.5625em; /*105/16*/
  right: 0;
  transition: all 0.3s ease-in-out;
}

.help__circle:nth-of-type(2) {
  width: 10.9375em; /*175/16*/
  height: 10.9375em; /*175/16*/
  left: -20%;
  bottom: 40%;
  transition: all 0.3s ease-in-out;
}

.help__circle:nth-of-type(3) {
  width: 8.75em; /*140/16*/
  height: 8.75em; /*140/16*/
  right: 0;
  bottom: -10%;
  transition: all 0.3s ease-in-out;
}

.actor__article, .who__article {
  display: flex;
}

.information__article + .information__article {
  border-left: 1px solid #A0BF35;
  padding-left: 2.8125em; /*45/16*/
}

.form__input, .form__select {
  transition: all 0.3s ease-in-out;
  background-color: #E2ECC2;
  border: none;
  min-height: 3.125em; /*50/16*/
  padding: 0 0.625em; /*10/16*/
}

.article__history:nth-child(2) {
  grid-row: 2/3;
  grid-column: 2/3;
}

.article__history:nth-child(3) {
  grid-row: 3/4;
  grid-column: 1/2;
}

.article__history:nth-child(4) {
  grid-row: 4/5;
  grid-column: 2/3;
}

.article__history:nth-child(5) {
  grid-row: 5/6;
  grid-column: 1/2;
}

.footer__legale:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.nav__item:first-child:hover {
  background-image: url("../../img/ecosph_air-logo-white.svg");
}

.why__figure:hover {
  border-radius: 50%;
  outline-offset: 2.5em;
  outline: solid 1px #A0BF35;
  transition: all 0.3s ease-in-out;
}

.why__thumb:hover {
  box-shadow: 0 0 0 0 #D5D96A; /*20/16*/
  transition: all 0.3s ease-in-out;
}

//-------------------------21

.coordinates__address p.coordinates__adress {
  margin-bottom: 0;
}

article.project .project__fig {
  order: -1;

}

.nav__item a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

//-------------------------22

.coordinates section, .coordinates p {
  margin-bottom: 1.25em; /*20/16*/
}

//-------------------------30

.contact__figure:hover .contact__circle {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.article__history:hover .history__cards {
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.help__figure:hover .help__circle {
  transform: scale(1.3);
}

.layout__module, .layout__article, .layout__intro {
  position: relative;
}

.modules__links, .articles__links, {
  position: absolute;
  right: 0;
  top: 0;
  color: #5ABFBF;
  text-transform: uppercase;
  font-size: 0.9375em; /*15/16*/
  text-decoration: none;
  font-weight: 600;
  margin-top: 0.6666666666666667em; /*10/15*/
}

.module__cards, .article__cards, .video__cards {
  display: flex;
  flex-direction: column;
}

.js-enabled .slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.singleModule__fig:hover .singleModule__logo{
  outline-offset: 1.75em;
}

//-------------------------31
.project:nth-of-type(2) .project__fig img {
  position: relative;
  left: -4%;
  bottom: 10%;
}

.project:nth-of-type(3) .project__fig img {
  position: relative;
  left: 7%;
  bottom: -10%;
}

.project:nth-of-type(6) .project__fig img {
  position: relative;
  right: -12%;
  bottom: -10%;
}

//-------------------------33
article.article__module, article.article__article, article.video {
  border: #A0BF35 solid 1px;
  position: relative;
  right: -2%;
  top: -3%;
  display: flex;
  border-radius: 1.5625em; /*25/16*/
  margin-right: 4.375em; /*70/16*/
}

.nav__item:first-child a, .nav__logo a {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//-------------------------40

.project:nth-of-type(2) .project__circle:nth-of-type(1) {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 6%;
  left: 1%;
  width: 3.125em; /*50/16*/
  height: 3.125em; /*50/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
}

.project:nth-of-type(2) .project__circle:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4.375em; /*70/16*/
  height: 4.375em; /*70/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(2) .project__circle:nth-of-type(3) {
  position: absolute;
  top: 6%;
  right: -5%;
  width: 5.625em; /*90/16*/
  height: 5.625em; /*90/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(3) .project__circle:nth-of-type(1) {
  position: absolute;
  top: 30%;
  left: -15%;
  width: 3.125em; /*50/16*/
  height: 3.125em; /*50/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(3) .project__circle:nth-of-type(2) {
  position: absolute;
  bottom: 7%;
  left: 70%;
  width: 4.375em; /*70/16*/
  height: 4.375em; /*70/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(6) .project__circle:nth-of-type(1) {
  position: absolute;
  top: 5%;
  left: 0;
  width: 3.125em; /*50/16*/
  height: 3.125em; /*50/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(6) .project__circle:nth-of-type(2) {
  position: absolute;
  bottom: 7%;
  left: 10%;
  width: 4.375em; /*70/16*/
  height: 4.375em; /*70/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  transition: all 0.3s ease-in-out;
}

//-------------------------42
article.article__article .article__cards, article.video .video__cards {
  display: flex;
  flex-direction: column;
}

//-------------------------50
.module__link, .article__link, .project__link, .footer__link, .video__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
}

.intro__links, .help__links, .actor__link, .who__link {
  color: #FFFFFF;
  font-size: 0.9375em; /*15/16*/
  letter-spacing: 0.1333333333333333em; /*2/15*/
  text-transform: uppercase;
  background-color: #5ABFBF;
  text-decoration: none;
  padding: 1.333333333333333em 2.666666666666667em; /*20/15 40/15*/
  border-radius: 0 2.666666666666667em 0 2.666666666666667em; /*40/15*/
  margin-top: 3.333333333333333em; /*50/15*/
  margin-bottom: 13.333333333333333em; /*200/15*/
}

.project:nth-of-type(2):hover .project__circle:nth-of-type(1) {
  top: -10%;
  left: 30%;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(2):hover .project__circle:nth-of-type(2) {
  bottom: 0;
  left: 20%;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(2):hover .project__circle:nth-of-type(3) {
  top: 45%;
  right: -15%;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(3):hover .project__circle:nth-of-type(1) {
  top: 5%;
  left: -2%;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(3):hover .project__circle:nth-of-type(2) {
  bottom: 2%;
  left: 20%;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(6):hover .project__circle:nth-of-type(1) {
  top: -7%;
  left: 20%;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(6):hover .project__circle:nth-of-type(2) {
  bottom: 0;
  left: 60%;
  transition: all 0.3s ease-in-out;
}

//-------------------------52
.projects__title, .contact__title, .articles h2.articles__title, h2.legales__title, h2.conditions__title {
  font-size: 1.666666666666667em; /*25/15*/
  text-transform: uppercase;
  color: #01595A;
  font-weight: 700;
  margin-bottom: 3.333333333333333em;
  margin-top: 5.333333333333333em; /*160/30*/
}

//-------------------------55

h2.help__title, h2.modules__title, h2.actor__title, h2.article__title, h3.articles__title {
  font-size: 1.875em; /*30/16*/
  max-width: 18.33333333333333em; /*550/30*/
  font-weight: 700;
  margin-bottom: 1.666666666666667em; /*50/30*/
  text-transform: uppercase;
  line-height: 1.333333333333333em; /*40/30*/
}

//-------------------------60
.actor .actor__article:nth-child(even), .who .who__article:nth-child(even) {
  margin-bottom: 6.25em; /*100/16*/
}

.actor .actor__article .actor__figure, .who .who__article .who__figure {
  display: inline-block;
  outline: solid 0.125em #A0BF35; /*2/16*/
  outline-offset: 1.25em; /*20/16*/
  border-radius: 100%;
}

.project:nth-of-type(1), .project:nth-of-type(4), .project:nth-of-type(5) {
  border: #A0BF35 solid 1px;
  border-radius: 1.5625em; /*25/16*/
}

.project:nth-of-type(2), .project:nth-of-type(3), .project:nth-of-type(6) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0; /*32/16*/
}

//-------------------------61
.form__input:focus, textarea.form__input:focus, .form__select:focus {
  background-color: rgba(174, 229, 242, 0.4);

}

//-------------------------63
article.article__module .module__position, article.article__article .article__cards, article.video .video__cards {
  font-size: 0.9375em; /*15/16*/
  background-color: #E2ECC2;
  position: relative;
  right: 6%;
  top: 3%;
  border-radius: 1.666666666666667em; /*25/15*/
  max-width: 20em; /*300/15*/
  min-height: 33.33333333333333em; /*500/15*/
  text-align: center;
  line-height: 1em;
  padding: 0 1.333333333333333em; /*20/15*/
  flex: 1;
  transition: all 0.3s ease-in-out;
}

//-------------------------75
h3.project__title, .why__title, .history__title, h3.who__title, h4.who__title, h3.singleModule__title, h2.confident__title, h2.coordinate__title {
  text-transform: uppercase;
  font-size: 1.25em; /*20/16*/
  font-weight: 600;
  margin-bottom: 1.875em; /*30/16*/

}

//-------------------------77


h3.help__title, h3.module__title, h3.actor__title, h3.article__title, h4.article__title, h3.video__title, h4.video__title {
  font-size: 1.5625em; /*25/16*/
  font-weight: 600;
  margin-bottom: 1.2em; /*30/25*/
  max-width: 12em; /*300/25*/
  text-transform: uppercase;
  line-height: 1.2em; /*30/25*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//-------------------------80
.actor .actor__article:nth-child(odd) .actor__figure, .who .who__article:nth-child(odd) .who__figure {
  order: -1;
  margin-right: 6.25em; /*100/16*/
  max-height: 32.1875em; /*515/16*/
  transition: all 0.3s ease-in-out;

}

.actor .actor__article:nth-child(odd) .actor__figure:hover, .who .who__article:nth-child(odd) .who__figure:hover {
  outline-offset: 0.7em;
  transition: all 0.3s ease-in-out;

}

.actor .actor__article:nth-child(odd) .actor__figure:hover img, .who .who__article:nth-child(odd) .who__figure:hover img {
  box-shadow: 0 0 #D5D96A;
  transition: all 0.3s ease-in-out;

}

.actor .actor__article:nth-child(even) .actor__figure:hover span, .who .who__article:nth-child(even) .who__figure:hover span {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;

}

.actor .actor__article:nth-child(even) .actor__figure:hover, .who .who__article:nth-child(even) .who__figure:hover {
  outline-offset: 0.7em;
  transition: all 0.3s ease-in-out;

}


.actor .actor__article:nth-child(even) .actor__figure, .who .who__article:nth-child(even) .who__figure {
  margin-left: 6.25em; /*100/16*/
  max-height: 32.1875em; /*515/16*/
  position: relative;
  transition: all 0.3s ease-in-out;
}

//-------------------------82
.actor .actor__article:nth-child(odd) .actor__figure img, .who .who__article:nth-child(odd) .who__figure img {
  border-radius: 100%;
  position: relative;
  left: 10%;
  bottom: 6%;
  box-shadow: -2.5em 0px #D5D96A; /*40/16*/
  transition: all 0.3s ease-in-out;
}

.actor .actor__article:nth-child(even) .actor__figure img, .who .who__article:nth-child(even) .who__figure img {
  border-radius: 100%;
  position: relative;
  right: 5%;
}

//-------------------------90
.project:nth-of-type(1) .project__cards, .project:nth-of-type(4) .project__cards, .project:nth-of-type(5) .project__cards {
  display: flex;
  flex-direction: column;
  max-width: 16.875em; /*270/16*/
  padding: 2em 3.3125em; /*32/16 53/16*/
  background-color: #E2ECC2;
  border-radius: 1.5625em; /*25/16*/
  position: relative;
  top: -5%;
  left: -10%;
  transition: all 0.3s ease-in-out;
}

.project:nth-of-type(2) .project__fig, .project:nth-of-type(3) .project__fig, .project:nth-of-type(6) .project__fig {
  outline: #A0BF35 solid 1px;
  outline-offset: 1.25em; /*20/16*/
  margin-bottom: 3.125em; /*50/16*/
  border-radius: 50%;
}

//-------------------------92
.article__module:hover .module__position, article.article__article:hover .article__cards, article.video:hover .video__cards {
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}

//-------------------------93
.project:nth-of-type(2) .project__fig img, .project:nth-of-type(3) .project__fig img, .project:nth-of-type(6) .project__fig img {
  border: #A0BF35 solid 1px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

//-------------------------100

.actor .actor__article:nth-child(even) .actor__circle:nth-of-type(1), .who .who__article:nth-child(even) .actor__circle:nth-of-type(1) {
  width: 6.5625em; /*105/16*/
  height: 6.5625em; /*105/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  position: absolute;
  right: -5%;
  bottom: 5%;
}

.actor .actor__article:nth-child(even) .actor__circle:nth-of-type(2), .who .who__article:nth-child(even) .actor__circle:nth-of-type(2) {
  width: 8.75em; /*140/16*/
  height: 8.75em; /*140/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  position: absolute;
  right: 0;
  top: 0;
}

.actor .actor__article:nth-child(even) .actor__circle:nth-of-type(3), .who .who__article:nth-child(even) .actor__circle:nth-of-type(3) {
  width: 10.9375em; /*175/16*/
  height: 10.9375em; /*175/16*/
  border-radius: 50%;
  background-color: #E2ECC2;
  position: absolute;
  left: -10%;
  bottom: 0;
}

.intro__links:hover, .help__links:hover, .actor__link:hover, .form__button:hover, .who__link:hover {
  color: #5ABFBF;
  background-color: #FFFFFF;
  border: 1px solid #5ABFBF;
}

//-------------------------120
.project:nth-of-type(1):hover .project__cards, .project:nth-of-type(4):hover .project__cards, .project:nth-of-type(5):hover .project__cards {
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
}

//------------------------------

/*----------Media queries-------------*/
@media (max-width: 480px) {
  //-----------------------------1

  body {
    font-size: 0.9375em; /*15/16*/
  }

  //------------------2

  main section {
    margin-bottom: 10em;
  }

  //-----------------------------10

  .singleModule__galerie {
    max-width: 310px;
  }

  .burger__line { /*10*/
    background: #01595A;
    display: block;
    height: 4px;
    width: 100%;
  }

  .line1 { /*10*/
    transform-origin: 10% 40%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 { /*10*/
    transition: transform 0.2s ease-in-out;
  }

  .line3 { /*10*/
    transform-origin: 10% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .header__nav {
    display: flex;
    margin-bottom: 0;
    max-height: 3.333333333333333em; /*50/15*/
  }

  .nav__liste {
    padding: 1em 2em; /*30/15*/
  }

  .nav__position {
    display: flex;
    flex-direction: column;
    width: 102vw;
    height: 102vh;
    position: fixed;
    background-color: #AEE6F2;
    top: -200%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .nav__logo {
    display: block;
    min-height: 40px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../../img/ecosph_air-logo.svg");
    background-repeat: no-repeat;
    background-position: 4% 50%;
    background-size: 20%;
    padding: 0;
    background-color: #AEE6F2;
    justify-self: start;
    transition: all 0.3s ease-in-out;
  }

  .nav__checkbox { /*10*/
    cursor: pointer;
    display: block;
    height: 2em;
    opacity: 0;
    position: absolute;
    right: 2%;
    top: 0.7em;
    width: 2em;
    z-index: 25;
  }

  .nav__burger { /*10*/
    display: flex;
    flex-direction: column;
    height: 1.2em;
    justify-content: space-between;
    justify-self: center;
    position: absolute;
    right: 2%;
    top: 0.7em;
    width: 1.7em;
    z-index: 15;
  }

  .nav__liste {
    margin-top: 40%;
    flex-direction: column;
  }

  .nav__languages {
    text-align: center;
    align-self: auto;
    justify-content: center;
  }

  .nav__item {
    //flex: 1;
    padding-bottom: 1em;
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #5ABFBF;
    justify-content: center;
  }

  .intro {
    display: block;
    background: linear-gradient(
                    rgba(255, 255, 255, 0.6),
                    rgba(255, 255, 255, 0.6)
    ),
    url("../../img/pexels-artem-beliaikin-929273.jpg"), no-repeat;
    background-size: cover;
    padding-bottom: 5.882352941176471em; /*100/17*/
    padding-left: 5.882352941176471em; /*100/17*/
    padding-right: 5.882352941176471em; /*100/17*/
    margin-bottom: 5.882352941176471em; /*100/17*/
    margin-top: 0;

    //position: relative;
  }

  .intro__title {
    font-size: 1.470588235294118em; /*25/17*/
    margin-top: 8em; /*100/25*/
  }

  .intro__position {
    padding: 0;
    margin-right: 0;
  }

  .why__wysiwyg {
    margin-right: 0;
  }

  .about__title {
    margin-bottom: 3.3333333333em;
    margin-top: 5.3333333333em;
    font-size: 1.666666666666667em; /*25/15*/
  }

  .about {
    margin-bottom: 0;
  }

  .help__text {
    margin-bottom: 3.529411764705882em; /*60/17*/
  }

  .information {
    margin-bottom: 3em;
  }

  .contact__title {
    margin-bottom: 0;
    font-size: 1.666666666666667em; /*25/15*/
  }

  .layout__contact {
    margin-bottom: 0;
  }

  .projects__list {
    display: grid;
    grid-template-rows: repeat(6, 37.5em);
    grid-template-columns: 1fr;
  }

  .project {
    //max-width: 95%;
  }

  .singleModule {
    margin-bottom: 7em;
  }

  .singleModule__nav {
    margin-bottom: 2em;
  }

  .singleModule__questions {
    flex-direction: column;
  }

  .singleModule__why {
    border-right: none;
    border-bottom: 2px solid #A0BF35;
    padding-right: 0;
    margin-bottom: 3.6em; /*61.2/17*/
  }

  .singleModule__content {
    display: flex;
    flex-direction: column;
    margin-top: 2.666666666666667em; /*40/15*/
  }

  .singleModule__who {
    margin-left: 0;
    margin-bottom: 5em; /*85/17*/
  }

  .singleModule__intro {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5.333333333333333em; /*80/15*/
  }

  .singleModule__links {
    order: -2;
    align-self: flex-end;
    margin-bottom: 1.5em;
    margin-top: 0;
  }

  .singleModule__fig {
    position: absolute;
    z-index: -10;
    margin-top: 0;
    opacity: 0.2;
    left: 8%;
    top: 17%;
    min-width: 100%;
    padding: 0;
  }

  .singleModule__logo {
    outline-offset: 8px;
  }

  .singleModule__picture {
    display: grid;
    grid-gap: 4em;
    justify-content: center;
  }

  .singleModule__galerie {
    margin-right: 1.875em;
    margin-left: 1.875em;
  }

  .contact__position {
    flex-direction: column;
  }

  .contact__content {
    order: -2;
    margin-left: 0;
  }

  .article__list {
    grid-template-columns: 1fr;
  }

  .about {
    margin-bottom: 2em;
  }

  .history__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }

  .coordinates {
    padding-bottom: 3em;
    margin-bottom: 0;
  }

  .confident {
    margin-left: 0;
    margin-top: 4em;
  }

  .form__button {
    margin-bottom: 14em;
  }

  .form__label {
    font-size: inherit;
  }

  .footer {
    padding: 0;
  }

  .footer__body {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  }

  .footer__legale {
    margin-top: 0.625em; /*10/16*/
  }

  //-----------------------------11

  h3.information__title {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  //-----------------------------20
  .nav__item:nth-of-type(2) {
    flex: none;
    justify-content: center;
    margin-right: 0;
  }

  .nav__item:first-child {
    padding-bottom: 1em;

  }

  .nav__liste, .languages {
    justify-content: center;
    gap: 20px;
    flex: initial;
  }

  .nav__languages + .nav__languages {
    border-left: 1px solid #5ABFBF;
    padding-left: 1em;
  }

  .nav__item:first-child {
    background-image: none;
    min-height: auto;
    min-width: auto;
  }

  .why, .history {
    margin-bottom: 6.666666666666667em; /*100/15*/
  }

  .videos, .articles {
    margin-left: 0;
  }

  .actor__article, .who__article {
    display: block;
  }

  .module, .article {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    margin-top: 4em;
    justify-items: center;
  }

  .project:nth-of-type(4) {
    grid-row: 3;
  }

  .singleModule__galerie:nth-of-type(2) {
    margin-top: 0;
  }

  .legales__content, .conditions__content {
    flex-direction: column;
    min-width: 0;
  }

  .legales__section, .conditions__section {
    border-bottom: 2px solid #A0BF35;
    border-right: none;
    margin-bottom: 0;
  }

  .information__article + .information__article {
    margin-right: 0;
    padding-left: 1.466666666666667em; /*22/15*/
  }

  .nav__logo:hover {
    background-image: url("../../img/ecosph_air-logo-white.svg");
  }

  //-----------------------------21

  .nav__item a, .languages a {
    font-size: 1.333333333333333em; /*20/15*/
    text-transform: uppercase;
  }

  .nav__item:first-child a {
    position: relative;
    opacity: 1;
  }

  .nav__logo a.logo__link {
    width: 30%;
  }

  .articles h2.articles__title {
    max-width: 250px;
    margin-bottom: 2em;
  }

  //-----------------------------30

  .nav__checkbox:checked ~ .nav__position { /*30*/
    top: 0;
    transition: all 0.3s ease-in-out;
  }

  .project:nth-of-type(1) .project__cards {
    left: 10%;
  }

  .articles .article .article__article{
    max-width: 307px;
  }

  .article__list, .videos .video__list {
    margin-top: 2.5em;
  }

  .modules__links, .articles__links, .singleModule__links {
    position: relative;
    font-size: 0.7333333333333333em; /*11/15*/
  }

  article.article__module .module__position{
    padding-top: 0.6666666666666667em; /*10/15*/
    padding-bottom: 0.6666666666666667em;
  }

  //-----------------------------33

  article.article__module, article.article__article, article.video {
    top: 0;
    left: 0;
    margin-right: 0;
  }

  //-----------------------------40
  .nav__checkbox:checked ~ .burger .line1 { /*40*/
    transform: rotate(45deg);
  }

  .nav__checkbox:checked ~ .burger .line3 { /*40*/
    transform: rotate(-45deg);
  }

  .nav__checkbox:checked ~ .burger .line2 { /*40*/
    transform: scaleY(0);
  }

  .intro__links, .help__links, .actor__link, .form__button {
    font-size: 0.7333333333333333em; /*11/15*/
  }

  //------------------50

  .help__figure, .intro__figure, .actor__figure, .contact__figure, .why__figure, .why__thumb {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
    outline: none;
  }

  //------------------60

  .modules .module .article__module, .articles .article .article__article {
    //margin-right: 1.875em;
    //margin-left: 1.875em;
    margin-bottom: 1em;

  }
  article.article__article .article__cards, article.video .video__cards{
    max-width: 250px;
    justify-content: center;
  }
  //------------------70

  .actor .actor__article .actor__figure, .who .who__article .who__figure, .history__svg {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
    outline: none;
  }

  //------------------90

  .project:nth-of-type(1) .project__cards, .project:nth-of-type(4) .project__cards, .project:nth-of-type(5) .project__cards, .module__cards
  {
    padding: 0.6666666666666667em 1.333333333333333em; /*10/15 20/15*/
    max-width: 250px;
  }

  //------------------100

  .layout__help, .layout__module, .layout__article, .layout__project, .singleModule, .layout__contact, .layout__article, .about, .layout__legales, .layout__conditions, .actor {
    display: block;
    padding: 0 2.176470588235294em; /*37/17*/
  }

  .article__history:nth-child(1), .article__history:nth-child(2), .article__history:nth-child(3), .article__history:nth-child(4), .article__history:nth-child(5) {
    margin-bottom: 1.333333333333333em; /*20/15*/
    grid-column: 1/3;
  }

  //-------------------------------------118

  h2.help__title, h2.modules__title, h2.actor__title, h2.article__title, h3.articles__title, h2.confident__title, h2.coordinate__title, h3.information__title, .why__title, .history__title, .who__title {
    font-size: 1.333333333333333em; /*20/15*/
  }

  //-------------------------------------132

  h3.help__title, h3.module__title, h3.actor__title, h3.article__title, h4.article__title, h3.video__title, h4.video__title, h3.project__title, h4.information__title, h5.information__who, h4.who__title, .coordinates h4 {
    font-size: 1.133333333333333em; /*17/15*/
  }

}

@media (min-width: 481px) and (max-width: 860px) {
  //--------------------------1

  body {
    font-size: 0.9375em; /*15/16*/
  }

  //------------------2

  main section {
    margin-bottom: 10em;
  }

  //----------------------------10
  .burger__line { /*10*/
    background: #01595A;
    display: block;
    height: 4px; /*3/15*/
    width: 100%;
  }

  .line1 { /*10*/
    transform-origin: 5% 50%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 { /*10*/
    transition: transform 0.2s ease-in-out;
  }

  .line3 { /*10*/
    transform-origin: 10% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .nav__logo {
    display: block;
    min-height: 40px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../../img/ecosph_air-logo.svg");
    background-repeat: no-repeat;
    background-position: 4% 50%;
    background-size: 10%;
    padding: 0;
    background-color: #AEE6F2;
    justify-self: start;
  }

  .nav__logo a.logo__link {
    width: 30%;
  }

  .nav__checkbox { /*10*/
    cursor: pointer;
    display: block;
    height: 2em;
    opacity: 0;
    position: absolute;
    right: 2%;
    top: 50%;
    width: 2em;
    z-index: 25;
  }

  .nav__burger { /*10*/
    display: flex;
    flex-direction: column;
    height: 1.2em;
    justify-content: space-between;
    justify-self: center;
    position: absolute;
    right: 2%;
    top: 50%;
    width: 1.7em;
    z-index: 15;
  }

  .nav__liste {
    margin-top: 20%;
    flex-direction: column;
  }

  .nav__languages {
    text-align: center;
    align-self: auto;
    justify-content: center;
  }

  .nav__item {
    //flex: 1;
    border-bottom: 1px solid #5ABFBF;
    padding-bottom: 1em;
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #5ABFBF;
    justify-content: center;
  }

  .nav__position {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    left: 0;
    position: fixed;
    background-color: #AEE6F2;
    top: -200%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .header__nav {
    background-color: transparent;
    padding: 1em;
    display: flex;
    margin-bottom: 0;
    max-height: 3.333333333333333em; /*50/15*/
  }

  .intro {
    display: block;
    background: linear-gradient(
                    rgba(255, 255, 255, 0.6),
                    rgba(255, 255, 255, 0.6)
    ),
    url("../../img/pexels-artem-beliaikin-929273.jpg"), no-repeat;
    background-size: cover;
    padding-bottom: 12em; /*100/17*/
    padding-left: 12em;
    padding-right: 12em;
    margin-bottom: 5.882352941176471em; /*100/17*/
    margin-top: 0;

  }

  .intro__title {
    font-size: 1.764705882352941em; /*30/17*/
    margin-top: 12em; /*100/25*/
    min-width: 13em;
  }

  .intro__position {
    padding: 0;
    margin-right: 0;
  }

  .singleModule {
    margin-bottom: 7em;
  }

  .singleModule__questions {
    flex-direction: column;
  }

  .singleModule__why {
    border-right: none;
    border-bottom: 2px solid #A0BF35;
    padding-right: 0;
    margin-bottom: 3.6em; /*61.2/17*/
  }

  .singleModule__content {
    margin-top: 2.666666666666667em; /*40/15*/
  }

  .singleModule__who {
    margin-left: 0;
    margin-bottom: 5em; /*85/17*/
  }

  .singleModule__intro {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5.333333333333333em; /*80/15*/
  }

  .singleModule__links {
    order: -2;
    align-self: flex-end;
  }

  .singleModule__fig {
    position: absolute;
    z-index: -10;
    margin-top: 0;
    opacity: 0.2;
    left: 8%;
    top: 17%;
    min-width: 100%;
    padding: 0;
  }

  .singleModule__logo {
    outline-offset: 8px;
  }

  .singleModule__picture {
    display: grid;
    gap: 4em;
    justify-content: center;
  }

  .singleModule__galerie {
    max-width: 20.66666666666667em; /*310/15*/
    margin-right: 1.875em;
    margin-left: 1.875em;
  }

  .help__text {
    margin-bottom: 3.529411764705882em; /*60/17*/
  }

  .actor {
    padding: 0 2.941176470588235em; /*50/17*/
  }

  .information {
    margin-bottom: 3em;
  }

  .why__wysiwyg {
    margin-right: 0;
  }

  .about__title {
    margin-bottom: 3.3333333333em;
    margin-top: 5.3333333333em;
    font-size: 1.666666666666667em; /*25/15*/
  }

  .about {
    margin-bottom: 0;
    display: block;
    padding: 0 3em; /*37/17*/
  }

  .projects__list {
    display: grid;
    grid-template-rows: repeat(6, 37.5em);
    grid-template-columns: 1fr;
  }

  .article__list {
    grid-template-columns: 1fr;
  }

  .history__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }

  .coordinates {
    padding-bottom: 3em;
    margin-bottom: 0;
  }

  .confident {
    margin-left: 0;
    margin-top: 4em;
  }

  .contact__title {
    margin-bottom: 0;
    font-size: 1.666666666666667em; /*25/15*/
  }

  .layout__contact {
    display: block;
    padding: 0 3em; /*37/17*/
    margin-bottom: 0;
  }

  .contact__position {
    flex-direction: column;
  }

  .contact__content {
    order: -2;
    margin-left: 0;
  }

  .form__button {
    margin-bottom: 14em;
  }

  .form__label {
    font-size: inherit;
  }

  .footer {
    padding: 0;
  }

  .footer__body {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  }

  .footer__legale {
    margin-top: 0.625em; /*10/16*/
  }
  //----------------------------11

  h3.information__title {
    font-size: 1.666666666666667em; /*25/15*/
    margin-top: 2em;
    margin-bottom: 1em;
  }

  //----------------------------20

  .nav__item:nth-of-type(2) {
    flex: none;
    justify-content: center;
    margin-right: 0;
  }

  .nav__liste, .languages {
    text-align: center;
    padding-bottom: 1em;
    align-self: auto;
    justify-content: center;
    gap: 20px;
    flex: initial;
  }

  .nav__item:first-child {
    padding-bottom: 1em;
    background-image: none;
    min-height: auto;
    min-width: auto;
  }

  .project:nth-of-type(4) {
    grid-row: 3;
  }

  .singleModule__galerie:nth-of-type(2) {
    margin-top: 0;
  }

  .why, .history {
    margin-bottom: 6.666666666666667em; /*100/15*/
  }

  .videos, .articles {
    margin-left: 0;
  }

  .actor__article, .who__article {
    display: block;
  }

  .module, .article {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    margin-top: 4em;
  }

  .legales__content, .conditions__content {
    flex-direction: column;
    min-width: 0;
  }

  .legales__section, .conditions__section {
    border-bottom: 2px solid #A0BF35;
    border-right: none;
    margin-bottom: 0;
  }

  .nav__logo:hover {
    background-image: url("../../img/ecosph_air-logo-white.svg");
  }

  //----------------------------21

  .nav__item a, .languages a {
    font-size: 1.333333333333333em; /*20/15*/
    text-transform: uppercase;
  }

  .nav__item:first-child a {
    position: relative;
    opacity: 1;
  }

  .articles h2.articles__title {
    max-width: 16.66666666666667em; /*250/15*/
    margin-bottom: 2em;
  }

  //-------------------------------------30

  .nav__checkbox:checked ~ .nav__position { /*30*/
    top: 0;
    transition: all 0.3s ease-in-out;
  }

  .project:nth-of-type(1) .project__cards {
    left: 10%;
  }

  .article__list, .videos .video__list {
    margin-top: 2.5em;
  }

  .modules__links, .articles__links, .singleModule__links {
    position: relative;
    font-size: 0.7333333333333333em; /*11/15*/
  }

  //-------------------------------------40

  .nav__checkbox:checked ~ .burger .line1 { /*40*/
    transform: rotate(45deg);
  }

  .nav__checkbox:checked ~ .burger .line3 { /*40*/
    transform: rotate(-45deg);
  }

  .nav__checkbox:checked ~ .burger .line2 { /*40*/
    transform: scaleY(0);
  }

  .intro__links, .help__links, .actor__link, .form__button {
    font-size: 0.7333333333333333em; /*11/15*/
  }

  //-------------------------------------43

  article.article__module, article.article__article, article.video {
    max-width: 22.666666666666667em; /*340/15*/
    margin-right: 1.4375em;
    margin-left: 1.4375em;
    justify-items: center;
    justify-self: center;
    display: inline-block;
  }

  //------------------60

  .modules .module .article__module, .articles .article .article__article {
    display: inline-flex;
    min-width: 22.66666666666667em; /*340/15*/
    margin-left: 1.875em;
    margin-bottom: 1em;

  }

  //------------------80

  .layout__help, .layout__module, .layout__article, .layout__project, .singleModule, .layout__article, .layout__legales, .layout__conditions {
    display: block;
    padding: 0 3em; /*37/17*/
  }

  //------------------100

  .article__history:nth-child(1), .article__history:nth-child(2), .article__history:nth-child(3), .article__history:nth-child(4), .article__history:nth-child(5) {
    margin-bottom: 1.333333333333333em; /*20/15*/
    grid-column: 1/3;
  }

  //-------------------------------------107

  h2.help__title, h2.modules__title, h2.actor__title, h2.article__title, h3.articles__title, h2.confident__title, h2.coordinate__title, .why__title, .history__title, .who__title {
    font-size: 1.666666666666667em; /*25/15*/
  }

  //-------------------------------------120

  .actor .actor__article .actor__figure, .who .who__article .who__figure, .history__svg, .help__figure, .intro__figure, .actor__figure, .contact__figure, .why__figure {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
    outline: none;
  }

  //-------------------------------------132

  h3.help__title, h3.module__title, h3.actor__title, h3.article__title, h4.article__title, h3.video__title, h4.video__title, h3.project__title, h4.information__title, h5.information__who, h4.who__title, .coordinates h4 {
    font-size: 1.333333333333333em; /*20/15*/
  }


}

@media (min-width: 861px) and (max-width: 1100px){
  //-------------------------10
  .contact__content{
    margin-left: 4em;
  }
  .footer{
    padding: 3.333333333em ;
  }
  .article__list{
    grid-template-columns: repeat(2,1fr);
  }
  .projects__list{
    column-gap: 5em;
  }
  .sin
  //-------------------------11
  .layout__contact figure{
    width: 95%;
    height: 95%;
  }
  .footer img{
    width: 40px;
    height: 40px;
  }
  //-------------------------20
  .legales__content, .conditions__content{
    min-width: 750px;
  }
  .module, .article{
    flex-wrap: wrap;
    row-gap: 40px;
  }
  //-------------------------21
  .about figure, .layout__who figure{
    width: 60%;
    height: 60%;
  }
  //-------------------------32
  article.article__module, article.article__article, article.video{
    margin-right: 2.375em;
  }
  //-------------------------40

  .layout, .about, .layout__contact, .layout__legales, .layout__singleModule{
    padding: 20px;
  }

}

@media (min-width: 1710px) {
  //---------------------1
  body {
    font-size: 1.25em; /*20/16*/
  }
  //---------------------10

  .nav__logo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .intro__position {
    margin-right: 8em;
  }

  .projects__list {
    grid-gap: 12em;
  }

  .project__cards {
    justify-content: center;
    align-items: center;
  }

  .project__image{
    min-width: 400px;
  }

  .singleModule__galerie {
    max-width: 16.25em; /*325/20*/
  }

  .singleModule__picture {
    justify-content: center;
  }

  .why__wysiwyg {
    margin-right: 8em;
  }

  .layout__help {
    grid-gap: 8em;
  }

  .confident__text {
    max-width: 40em;
  }

  .contact__figure {
    top: -5%;
  }

  //---------------------11

  h3.information__title {
    margin-top: 2.5em;
  }

  //---------------------20

  .nav__checkbox, .burger { /*20*/
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }

  .videos, .articles {
    margin-left: 0;
  }

  //---------------------32

  article.article__module, article.article__article, article.video {
    margin-right: 5.5em;
  }

  //---------------------60

  .actor .actor__article:nth-child(even), .who .who__article:nth-child(even) {
    margin-bottom: 8.5em;
  }

  //---------------------63

  .projects__title, .contact__title, .articles h2.articles__title, h2.legales__title, h2.conditions__title {
    margin-top: 6em;
  }

  //---------------------80
  .actor .actor__article:nth-child(even) .actor__figure, .who .who__article:nth-child(even) .who__figure {
    margin-left: 8em;
  }

  .actor .actor__article:nth-child(odd) .actor__figure, .who .who__article:nth-child(odd) .who__figure {
    margin-right: 8em;
  }


}
