@media (min-width: 481px) and (max-width: 768px) {
  //--------------------------1
  body {
    font-size: 0.9375em; /*15/16*/
  }
  //------------------2
  main section {
    margin-bottom: 10em;
  }
  //----------------------------10
  .nav__logo {
    display: block;
    max-width: 4.666666666666667em; /*70/15*/
    min-height: 3.333333333333333em; /*50/15*/
    top: 0;
    left: 4%;
    right: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../../img/ecosph_air-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    justify-self: start;
  }
  .nav__checkbox { /*10*/
    cursor: pointer;
    display: block;
    height: 2em;
    opacity: 0;
    position: absolute;
    right: 1em; /*15*/
    top: 0.6666666666666667em; /*10/15*/
    width: 2em;
    z-index: 5;
  }
  .nav__burger { /*10*/
    display: flex;
    flex-direction: column;
    height: 1.2em;
    justify-content: space-between;
    justify-self: center;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 1em;
    width: 1.7em;
    z-index: 0;
  }
  .burger__line { /*10*/
    background: #01595A;
    display: block;
    height: 0.2em; /*3/15*/
    width: 100%;
  }

  .line1 { /*10*/
    transform-origin: 5% 50%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 { /*10*/
    transition: transform 0.2s ease-in-out;
  }

  .line3 { /*10*/
    transform-origin: 10% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .nav__liste {
    flex-direction: column;
    justify-content: center;
    gap: 1.333333333333333em; /*20/15*/
  }
  .nav__position {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #AEE6F2;
    top: -95%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    left: 0;
  }
  .header__nav {
    background-color: transparent;
    padding: 1em;
    display: flex;
    margin-bottom: 0;
    max-height: 3.333333333333333em; /*50/15*/
  }

  .intro {
    display: block;
    background: linear-gradient(
                    rgba(255, 255, 255, 0.6),
                    rgba(255, 255, 255, 0.6)
    ),
    url("../../img/pexels-artem-beliaikin-929273.jpg"), no-repeat;
    background-size: cover;
    padding-bottom: 12em; /*100/17*/
    padding-left: 12em;
    padding-right: 12em;
    margin-bottom: 5.882352941176471em; /*100/17*/
    margin-top: 0;

  }
  .intro__title {
    font-size: 1.764705882352941em; /*30/17*/
    margin-top: 12em; /*100/25*/
    min-width: 13em;
  }
  .intro__position {
    padding: 0;
    margin-right: 0;
  }
  .help__text {
    margin-bottom: 3.529411764705882em; /*60/17*/
  }
  .actor {
    padding: 0 2.941176470588235em; /*50/17*/
  }
  .information {
    margin-bottom: 3em;
  }
  .contact__title {
    margin-bottom: 0;
    font-size: 1.666666666666667em; /*25/15*/
  }
  .layout__contact {
    display: block;
    padding: 0 3em; /*37/17*/
    margin-bottom: 0;
  }
  .why__wysiwyg {
    margin-right: 0;
  }
  .about__title {
    margin-bottom: 3.3333333333em;
    margin-top: 5.3333333333em;
    font-size: 1.666666666666667em; /*25/15*/
  }
  .about {
    margin-bottom: 0;
    display: block;
    padding: 0 3em; /*37/17*/
  }
  .singleModule {
    margin-bottom: 7em;
  }
  .singleModule__questions {
    flex-direction: column;
  }
  .singleModule__why {
    border-right: none;
    border-bottom: 2px solid #A0BF35;
    padding-right: 0;
    margin-bottom: 3.6em; /*61.2/17*/
  }
  .singleModule__content {
    margin-top: 2.666666666666667em; /*40/15*/
  }
  .singleModule__who {
    margin-left: 0;
    margin-bottom: 5em; /*85/17*/
  }
  .singleModule__intro {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5.333333333333333em; /*80/15*/
  }
  .singleModule__links {
    order: -2;
    align-self: flex-end;
  }
  .singleModule__fig {
    position: absolute;
    z-index: -10;
    margin-top: 0;
    opacity: 0.2;
    left: 8%;
    top: 17%;
    min-width: 100%;
    padding: 0;
  }
  .singleModule__logo {
    outline-offset: 8px;
  }
  .singleModule__picture {
    display: grid;
    gap: 4em;
    justify-content: center;
  }
  .footer {
    padding: 0;
  }
  .footer__body {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  }
  .footer__legale {
    margin-top: 0.625em; /*10/16*/
  }
  .projects__list {
    display: grid;
    grid-template-rows: repeat(6, 37.5em);
    grid-template-columns: 1fr;
  }
  .singleModule__galerie {
    max-width: 20.66666666666667em; /*310/15*/
    margin-right: 1.875em;
    margin-left: 1.875em;
  }
  .contact__position {
    flex-direction: column;
  }
  .contact__content {
    order: -2;
    margin-left: 0;
  }
  .article__list {
    grid-template-columns: 1fr;
  }
  .form__label {
    font-size: inherit;
  }
  .history__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }
  .coordinates {
    padding-bottom: 3em;
    margin-bottom: 0;
  }
  .confident {
    margin-left: 0;
    margin-top: 4em;
  }
  //----------------------------11
  h3.information__title {
    font-size: 1.666666666666667em; /*25/15*/
    margin-top: 2em;
    margin-bottom: 1em;
  }
  //----------------------------20
  .nav__item, .languages { /*20*/
    text-align: center;
    padding-bottom: 1em;
    align-self: auto;
    border-bottom: 1px solid #5ABFBF;
  }
  .nav__item:nth-of-type(2) {
    flex: none;
  }
  .nav__item:first-child {
    padding-bottom: 1em;
    background-image: none;
    min-height: auto;
    min-width: auto;
  }
  .why, .history {
    margin-bottom: 6.666666666666667em; /*100/15*/
  }
  .videos, .articles {
    margin-left: 0;
  }
  .actor__article, .who__article {
    display: block;
  }
  .module, .article {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    margin-top: 4em;
  }
  .legales__content, .conditions__content {
    flex-direction: column;
    min-width: 0;
  }
  .legales__section, .conditions__section {
    border-bottom: 2px solid #A0BF35;
    border-right: none;
    margin-bottom: 0;
  }
  //----------------------------21

  .nav__item a, .languages a {
    font-size: 1.333333333333333em; /*20/15*/
    text-transform: uppercase;
  }
  .nav__item:first-child a {
    position: relative;
    opacity: 1;
  }
  .articles h2.articles__title {
    max-width: 16.66666666666667em; /*250/15*/
    margin-bottom: 2em;
  }
  //-------------------------------------30
  .nav__checkbox:checked ~ .nav__position { /*30*/
    top: 0;
    transition: all 0.3s ease-in-out;
  }
  .project:nth-of-type(1) .project__cards {
    left: 10%;
  }
  .article__list, .videos .video__list {
    margin-top: 2.5em;
  }
  .modules__links, .articles__links, .singleModule__links {
    position: relative;
    font-size: 0.7333333333333333em; /*11/15*/
  }
  //-------------------------------------40
  .nav__checkbox:checked ~ .burger .line1 { /*40*/
    transform: rotate(45deg);
  }

  .nav__checkbox:checked ~ .burger .line3 { /*40*/
    transform: rotate(-45deg);
  }

  .nav__checkbox:checked ~ .burger .line2 { /*40*/
    transform: scaleY(0);
  }
  .project:nth-of-type(4) {
    grid-row: 3;
  }

  .singleModule__galerie:nth-of-type(2) {
    margin-top: 0;
  }
  .intro__links, .help__links, .actor__link, .form__button {
    font-size: 0.7333333333333333em; /*11/15*/
  }
  //-------------------------------------43
  article.article__module, article.article__article, article.video {
    max-width: 22.666666666666667em; /*340/15*/
    margin-right: 1.4375em;
    margin-left: 1.4375em;
    justify-items: center;
    justify-self: center;
    display: inline-block;
  }

  //------------------60
  .modules .module .article__module, .articles .article .article__article {
    display: inline-flex;
    min-width: 22.66666666666667em; /*340/15*/
    margin-left: 1.875em;
    margin-bottom: 1em;

  }
  //------------------70

  //------------------80

  .layout__help, .layout__module, .layout__article, .layout__project, .singleModule, .layout__article, .layout__legales, .layout__conditions {
    display: block;
    padding: 0 3em; /*37/17*/
  }
  //------------------100

  .article__history:nth-child(1), .article__history:nth-child(2), .article__history:nth-child(3), .article__history:nth-child(4), .article__history:nth-child(5) {
    margin-bottom: 1.333333333333333em; /*20/15*/
    grid-column: 1/3;
  }

  //-------------------------------------107
  h2.help__title, h2.modules__title, h2.actor__title, h2.article__title, h3.articles__title, h2.confident__title, h2.coordinate__title, .why__title, .history__title, .who__title {
    font-size: 1.666666666666667em; /*25/15*/
  }
  //-------------------------------------120
  .actor .actor__article .actor__figure, .who .who__article .who__figure, .history__svg, .help__figure, .intro__figure, .actor__figure, .contact__figure, .why__figure {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
    outline: none;
  }

  //-------------------------------------132
  h3.help__title, h3.module__title, h3.actor__title, h3.article__title, h4.article__title, h3.video__title, h4.video__title, h3.project__title, h4.information__title, h5.information__who, h4.who__title, .coordinates h4 {
    font-size: 1.333333333333333em; /*20/15*/
  }


}
